<div class="container-xl px-4 my-3">
    <div class="position-relative hide-on-md">
      <div class="position-absolute bg-white p-3 ms-5 mt-5" style="max-width: 28rem">
        <h1 class="fs-3 fw-bold">Did you make a wish?</h1>
        <p class="fs-6">Time to make it come true. <span class="text-decoration-underline text-primary">Get the courses on your wishlist</span> and take the first step toward your goals.</p>
      </div>
      <img src="https://storage.googleapis.com/oa-public-bucket/hero.jpg" alt="hero" class="img-fluid">
    </div>

    <h2 class="mt-5 fw-bold fs-4 mb-3">Top courses last week</h2>
    <div class="slick">
        {{#each topCourses}}
          <div class="card position-relative border-0 course-card" data-slug={{this.slug}} data-isEnrolled={{this.isEnrolled}}>
              <div class="position-absolute" style="top:10px; right:10px;">
                {{#if ../userId}}
                  {{#if this.isEnrolled}}
                    <button type="button" class="btn btn-success fs-7" disabled>Enrolled</button>
                  {{else}}
                    <button type="button" class="btn wish-list-button border-0 fs-4 p-0" data-id={{this._id}}>
                        <span class="{{#if this.isWishListed}} fa fa-heart{{else}}fa-regular fa-heart{{/if}}" style="{{#if this.isWishListed}}color: red;{{else}}color: white;{{/if}}"></span>
                    </button>
                  {{/if}}
                {{/if}}
              </div>
              <img src={{this.coverPhoto}} class="card-img-top" style="height: 11rem" alt="Cover photo">
              <div class="card-body p-2">
                  <p class="fw-bold fs-7 ellipsis-text-2 mb-1">{{this.name}}</p>
                  <p class="card-text text-muted fs-8 mb-0 text-truncate">{{this.instructor.name}}</p>
                  <div class="d-flex align-items-center fs-8 gap-1">
                      <p class="mb-0 text-warning fw-bold">{{roundWithPrecision this.avgRating 1}}</p>
                      {{> stars rating=this.avgRating}}
                      <p class="mb-0 text-muted">({{this.totalRatings}})</p>
                  </div>
                  <p class='fw-bold mb-1 fs-6'>{{currency this.price}}</p>
                  <div class="d-flex gap-2">
                        {{#if this.hasBadge}}
                            {{#if this.newest}}
                                <span class="badge bg-primary">Newest</span>
                            {{/if}}
                            {{#if this.mostPopular}}
                                <span class="badge bg-danger bg-opacity-75">Most popular</span>
                            {{/if}}

                            {{#if this.highestRated}}
                                <span class="badge bg-warning bg-opacity-75 text-dark">Highest rating</span>
                            {{/if}}
                        {{/if}}      
                  </div>
              </div>
          </div>
        {{/each}}
    </div>

    <h2 class="mt-5 fw-bold fs-4 mb-3">Most viewed courses</h2>
    <div class="slick">
        {{#each mostViewedCourses}}
          <div class="card position-relative border-0 course-card" data-slug={{this.slug}} data-isEnrolled={{this.isEnrolled}}>
              <div class="position-absolute" style="top:10px; right:10px;">
                {{#if ../userId}}
                  {{#if this.isEnrolled}}
                    <button type="button" class="btn btn-success fs-7" disabled>Enrolled</button>
                  {{else}}
                    <button type="button" class="btn wish-list-button border-0 fs-4 p-0" data-id={{this._id}}>
                        <span class="{{#if this.isWishListed}} fa fa-heart{{else}}fa-regular fa-heart{{/if}}" style="{{#if this.isWishListed}}color: red;{{else}}color: white;{{/if}}"></span>
                    </button>
                  {{/if}}
                {{/if}}
              </div>
              <img src={{this.coverPhoto}} class="card-img-top" style="height: 11rem" alt="Cover photo">
              <div class="card-body p-2">
                  <p class="fw-bold fs-7 ellipsis-text-2 mb-1">{{this.name}}</p>
                  <p class="card-text text-muted fs-8 mb-0 text-truncate">{{this.instructor.name}}</p>
                  <div class="d-flex align-items-center fs-8 gap-1">
                      <p class="mb-0 text-warning fw-bold">{{roundWithPrecision this.avgRating 1}}</p>
                      {{> stars rating=this.avgRating}}
                      <p class="mb-0 text-muted">({{this.totalRatings}})</p>
                  </div>
                  <p class='fw-bold mb-1 fs-6'>{{currency this.price}}</p>
                  <div class="d-flex gap-2">
                        {{#if this.hasBadge}}
                            {{#if this.newest}}
                                <span class="badge bg-primary">Newest</span>
                            {{/if}}
                            {{#if this.mostPopular}}
                                <span class="badge bg-danger bg-opacity-75">Most popular</span>
                            {{/if}}

                            {{#if this.highestRated}}
                                <span class="badge bg-warning bg-opacity-75 text-dark">Highest rating</span>
                            {{/if}}
                        {{/if}}      
                  </div>
              </div>
          </div>
        {{/each}}
    </div>

    <h2 class="mt-5 fw-bold fs-4 mb-3">Latest courses</h2>
    <div class="slick">
        {{#each latestCourses}}
          <div class="card position-relative border-0 course-card" data-slug={{this.slug}} data-isEnrolled={{this.isEnrolled}}>
              <div class="position-absolute" style="top:10px; right:10px;">
                {{#if ../userId}}
                  {{#if this.isEnrolled}}
                    <button type="button" class="btn btn-success fs-7" disabled>Enrolled</button>
                  {{else}}
                    <button type="button" class="btn wish-list-button border-0 fs-4 p-0" data-id={{this._id}}>
                        <span class="{{#if this.isWishListed}} fa fa-heart{{else}}fa-regular fa-heart{{/if}}" style="{{#if this.isWishListed}}color: red;{{else}}color: white;{{/if}}"></span>
                    </button>
                  {{/if}}
                {{/if}}
              </div>
              <img src={{this.coverPhoto}} class="card-img-top" style="height: 11rem" alt="Cover photo">
              <div class="card-body p-2">
                  <p class="fw-bold fs-7 ellipsis-text-2 mb-1">{{this.name}}</p>
                  <p class="card-text text-muted fs-8 mb-0 text-truncate">{{this.instructor.name}}</p>
                  <div class="d-flex align-items-center fs-8 gap-1">
                      <p class="mb-0 text-warning fw-bold">{{roundWithPrecision this.avgRating 1}}</p>
                      {{> stars rating=this.avgRating}}
                      <p class="mb-0 text-muted">({{this.totalRatings}})</p>
                  </div>
                  <p class='fw-bold mb-1 fs-6'>{{currency this.price}}</p>
                  <div class="d-flex gap-2">
                        {{#if this.hasBadge}}
                            {{#if this.newest}}
                                <span class="badge bg-primary">Newest</span>
                            {{/if}}
                            {{#if this.mostPopular}}
                                <span class="badge bg-danger bg-opacity-75">Most popular</span>
                            {{/if}}

                            {{#if this.highestRated}}
                                <span class="badge bg-warning bg-opacity-75 text-dark">Highest rating</span>
                            {{/if}}
                        {{/if}}      
                  </div>
              </div>
          </div>
        {{/each}}
    </div>

    <h2 class="mt-5 fw-bold fs-4 mb-3">Categories recommend for you</h2>
    <div class="row">
        {{#each mostEnrolledSubCategories}}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <a class="card" href="/categories/{{this.slug}}/{{this.subCategory.slug}}" style="text-decoration: none;">
                <div class="card-body">
                    <p class="text-center card-text fs-6 fw-bold">{{this.subCategory.name}}</p>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<script src='/js/student/redirectCard.js'></script>
<script>
    let items = document.querySelectorAll('.custom-carousel .carousel-item')

		items.forEach((el) => {
			const minPerSlide = 4
			let next = el.nextElementSibling
			for (var i=1; i<minPerSlide; i++) {
				if (!next) {
            next = items[0]
        }
        let cloneChild = next.cloneNode(true)
        el.appendChild(cloneChild.children[0])
        next = next.nextElementSibling
    }
    })

    $(document).ready(function(){
        $('.slick').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            arrows: true,
            dots: false,
            responsive: [
                {
                  breakpoint: 992,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 500,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
            ]
        });
    });
</script>
