{{> studentHeaderCourse}}

<div class="container mx-auto">
    <div class="row">
        {{#each courses}}
        <div class="col-lg-3 col-md-6 mt-4 mb-4 course-card" data-slug={{this.slug}}>
            <div class="card position-relative">
                <img src={{this.coverPhoto}} class="card-img-top" alt="Cover photo">
                <div class="card-body">
                    <div style="height: 4em;">
                        <p class="fw-bold fs-5 course-header">{{this.name}}</p>
                    </div>
                    <p class="card-text fs-6 fw-light mb-0 text-truncate">{{this.instructor.name}}</p>
                    <div class="d-flex align-items-center fs-8 gap-1">
                        <p class="mb-0 text-warning fw-bold">{{roundWithPrecision this.avgRating 1}}</p>
                        {{> stars rating=this.avgRating}}
                        <p class="mb-0 text-muted">({{this.totalRatings}})</p>
                    </div>
                    {{#if this.isDone}}
                    <span class="badge bg-success text-dark">Completed</span>
                    {{else}}
                    <span class="badge bg-warning text-dark">In progress</span>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>
    const cards = document.getElementsByClassName('course-card');
    for (let i = 0; i < cards.length; i++) {
        cards[i].addEventListener('click', () => {
            const slug = cards[i].getAttribute('data-slug');
            window.location.href = `/courses/${slug}/lessons`;
        });
    }

</script>