<navbar class='navbar navbar-expand-lg py-0'>
  <div class='container-fluid p-3 px-md-4 bg-white border-bottom shadow-sm'>

    {{! LOGO }}
    <a class='d-flex align-items-center justify-content-center' href='/'>
      <img
        src='assets/app/oa-logo-small.png'
        class='img-fluid rounded text-center'
        alt='oa-logo-small'
      />
    </a>

    {{! CATEGORIES }}
    <div class='dropdown mx-3 py-2'>
      <a
        class='nav-link'
        href='#'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        Categories
      </a>

      <ul class='dropdown-menu'>
        {{#each categories as |category|}}
          <li>
            <a
              class='dropdown-item d-flex justify-content-between w-100 gap-5'
              href='/categories/{{category.slug}}'
            >
              {{category.name}}
              <span
                class='fs-6 d-flex justify-content-center align-items-center'
              >
                <i class='fas fa-caret-right'></i>
              </span>
            </a>

            <ul class='dropdown-menu dropdown-submenu'>
              {{#each this.subcategories as |subcategory|}}
                <li>
                  <a
                    class='dropdown-item'
                    href='/categories/{{category.slug}}/{{subcategory.slug}}'
                  >
                    {{subcategory.name}}
                  </a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>

    {{! SEARCH BAR }}
    <form class='mb-0 flex-grow-1'>
      <div class='row height d-flex justify-content-center align-items-center'>
        <div
          class='search-header d-flex justify-content-center align-items-center relative position-relative'
        >
          <button class='btn bg-white btn-search btn-sm' type='button'>
            <i class='fa fa-search'></i>
          </button>
          <input
            type='text'
            class='form-control rounded-pill'
            placeholder='Search for anything'
          />
        </div>
      </div>
    </form>

    <button
      class='navbar-toggler ms-3'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavDropdown'
      aria-controls='navbarNavDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>

    <div
      class='collapse navbar-collapse flex-grow-0 ms-3'
      id='navbarNavDropdown'
    >
      <ul class='navbar-nav d-flex align-items-center justify-content-around'>
        {{#if user}}
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdownMenuLink'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              Welcome,
              <b>{{user.name}}</b>
            </a>

            <ul
              class='dropdown-menu dropdown-menu-end'
              aria-labelledby='navbarDropdownMenuLink'
            >
              <li>
                <a class='dropdown-item' href='/profile'>
                  <i class='fa fa-user' aria-hidden='true'></i>
                  Profile
                </a>
              </li>

              <li>
                <hr class='dropdown-divider' />
              </li>

              <li>
                <form id='logout' action='/logout' method='post' class='my-0'>
                  <button class='dropdown-item' type='submit'>
                    <i class='fa fa-sign-out' aria-hidden='true'></i>
                    Log out
                  </button>
                </form>
              </li>
            </ul>
          </li>
        {{else}}
          <li class='nav-item'>
            <a
              class='btn btn-outline-dark btn-app rounded-0'
              href='/login'
            >Login</a>
            <a
              class='btn btn-outline-dark btn-app rounded-0'
              href='/register'
            >Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</navbar>
