<div class='container instructor-container'>
  <div class='instructor-responsive-container'>
    <div class='tab-container'>
      <div class='card-body'>
        <ul class='nav nav-tabs border-bottom' id='myTab' role='tablist'>
          <li class='nav-item' role='presentation'>
            <a
              class='nav-link active'
              id='information-tab'
              data-bs-toggle='tab'
              href='#information'
              role='tab'
              aria-controls='information'
              aria-selected='true'
            >Lesson Information</a>
          </li>
          <li class='nav-item' role='presentation'>
            <a
              class='nav-link'
              id='picture-tab'
              data-bs-toggle='tab'
              href='#picture'
              role='tab'
              aria-controls='picture'
              aria-selected='false'
            >Lesson Picture</a>
          </li>
        </ul>
        <div class='tab-content' id='myTabContent'>
          <div
            class='tab-pane fade show active'
            id='information'
            role='tabpanel'
            aria-labelledby='information-tab'
          >
            <form action='/instructor/update-section' method='POST'>
              <div class='d-flex form-container m-2'>
                <div class='form-content'>
                  <div class='oa-form-group'>
                    <label class='oa-form-label oa-heading-sm'>Name</label>
                    <input
                      type='text'
                      name='name'
                      id='name'
                      class='oa-text-input-large'
                      value='{{lesson.name}}'
                      required
                    />
                  </div>
                  <div class='oa-form-group mb-3'>
                    <label class='oa-form-label oa-heading-sm'></label>
                    <div class='form-check'>
                      <input
                        class='form-check-input'
                        type='checkbox'
                        name='flexRadioDefault'
                        id='flexRadioDefault1'
                        value='{{lesson.isPreview}}'
                        required
                      />
                      <label class='form-check-label' for='flexRadioDefault1'>
                        Preview
                      </label>
                    </div>
                  </div>
                  <div class='oa-footer-btns d-flex pb-3'>
                    <button type='submit' class='save-button btn btn-primary'>
                      <i class='fa-solid fa-floppy-disk'></i>
                      <span>Save</span>
                    </button>
                    <button
                      class='btn btn-danger save-button d-fex align-items-center justify-content-center'
                    ><i class='fa-solid fa-trash'></i>
                      Delete</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div
            class='tab-pane fade'
            id='picture'
            role='tabpanel'
            aria-labelledby='picture-tab'
          >
            <form action='/instructor/update-section' method='POST'>
              <div class='d-flex form-container m-2'>
                <div class='form-content'>
                  <div class='oa-form-group'>
                    <label class='oa-form-label oa-heading-sm'>Video</label>
                    <div class='udlite-in-udheavy'>
                      <div
                        class='ud-image-upload-preview-wrapper video-content'
                      >
                        <div class='image-upload-preview-with-crop'>
                          {{#if videoUrl}}
                            <video
                              class='w-100 h-100'
                              controls
                              playsinline
                              id='player'
                              data-slug='{{lesson.slug}}'
                              style='max-height: 50rem'
                            >
                              <source type='video/mp4' src='{{videoUrl}}' />
                            </video>
                          {{else}}
                            <div class='image-upload-preview'>
                              <div class='image-upload-preview-placeholder'>
                                <i class='fa-solid fa-video'></i>
                              </div>
                            </div>
                          {{/if}}
                        </div>
                      </div>
                      <div class='mb-3'>
                        <input
                          class='form-control video-content'
                          type='file'
                          name='video'
                          accept='video/*'
                        />
                      </div>
                      <progress
                        id='progress'
                        max='100'
                        value='0'
                        class='video-content'
                      ></progress>
                    </div>

                    <div class='oa-footer-btns d-flex pb-3'>
                      <button type='submit' class='save-button btn btn-primary'>
                        <i class='fa-solid fa-floppy-disk'></i>
                        <span>Save</span>
                      </button>
                      <button
                        class='btn btn-danger save-button d-fex align-items-center justify-content-center'
                      ><i class='fa-solid fa-trash'></i>
                        Delete</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>