<div class='container instructor-container'>
  <div class='instructor-responsive-container'>
    <form action='/instructor/update-section' method='POST'>
      <div class='section-detail-container'>
        <div
          class='d-flex flex-row align-items-center text-hover section-header mt-1 border-0 shadow-none'
        >
          <input name='name' class='section-input w-50' value='{{section.name}}' />
          <a href='/instructor/{{courseSlug}}/{{sectionId}}/create-lesson'>
            <button class='btn btn-primary save-button' type='button'>
              <i class='fa-solid fa-square-plus'></i>
              Add lesson
            </button>
          </a>
        </div>
        <div class='section-detail-content'>
          <ul class='list-group px-3 d-flex flex-row lessons'>
            {{#if section.lessons}}
              {{#each section.lessons}}
                <li class='list-group-item lesson-container'>
                  <div class='d-flex flex-column h-100'>
                    {{#if this.isPreview}}
                      <span
                        class='badge bg-success py-2 fs-6 fw-bold w-50'
                      >Preview</span>
                    {{else}}
                      <span
                        class='badge bg-warning py-2 fs-6 fw-bold w-50'
                      >Pending</span>
                    {{/if}}
                    <a
                      href='/instructor/courses/{{../course.slug}}/{{../section._id}}/{{this.slug}}'
                      class='lesson-title'
                    >{{this.name}}</a>
                    <div>Course Structure and Projects Course Structure and
                      Projects Course Structure and Projects Course Structure
                      and Projects Course Structure and Projects</div>
                  </div>
                </li>
              {{/each}}
            {{/if}}
          </ul>
        </div>
      </div>
      <div class='oa-footer-btns mt-2 d-flex justify-content-end'>
        <button type='submit' class='save-button btn btn-primary'>
          <i class='fa-solid fa-floppy-disk'></i>
          <span>Save</span>
        </button>
        <button
          class='btn btn-danger save-button d-fex align-items-center justify-content-center'
        ><i class='fa-solid fa-trash'></i>
          Delete</button>
      </div>
    </form>
  </div>
</div>